blob-to-sharepointmonthwise.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each": {
                "actions": {
                    "Condition": {
                        "actions": {
                            "Create_new_folder": {
                                "inputs": {
                                    "body": {
                                        "path": "TataSkyLogicAppTest@{items('For_each')?['Path']}"
                                    },
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                        }
                                    },
                                    "method": "post",
                                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://celebaltech.sharepoint.com/'))}/tables/@{encodeURIComponent(encodeURIComponent('24bb14f8-7738-49e9-8af7-56411cf601b3'))}/createnewfolder"
                                },
                                "runAfter": {},
                                "type": "ApiConnection"
                            },
                            "For_each_2": {
                                "actions": {
                                    "Condition_2": {
                                        "actions": {
                                            "Create_new_folder_2": {
                                                "inputs": {
                                                    "body": {
                                                        "path": "TataSkyLogicAppTest@{items('For_each_2')?['Path']}"
                                                    },
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://celebaltech.sharepoint.com/'))}/tables/@{encodeURIComponent(encodeURIComponent('24bb14f8-7738-49e9-8af7-56411cf601b3'))}/createnewfolder"
                                                },
                                                "runAfter": {},
                                                "type": "ApiConnection"
                                            },
                                            "List_blobs_3": {
                                                "inputs": {
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                        }
                                                    },
                                                    "method": "get",
                                                    "path": "/datasets/default/foldersV2/@{encodeURIComponent(encodeURIComponent(items('For_each_2')?['Path']))}",
                                                    "queries": {
                                                        "nextPageMarker": "",
                                                        "useFlatListing": false
                                                    }
                                                },
                                                "runAfter": {
                                                    "Create_new_folder_2": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ApiConnection"
                                            }
                                        },
                                        "else": {
                                            "actions": {
                                                "Create_file_2": {
                                                    "inputs": {
                                                        "body": "@body('Get_blob_content_using_path_2')",
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://celebaltech.sharepoint.com/'))}/files",
                                                        "queries": {
                                                            "folderPath": "/Shared Documents/TataSkyLogicAppTest@{items('For_each')?['Path']}",
                                                            "name": "@items('For_each_2')?['DisplayName']",
                                                            "queryParametersSingleEncoded": true
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Get_blob_content_using_path_2": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection"
                                                },
                                                "Get_blob_content_using_path_2": {
                                                    "inputs": {
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                            }
                                                        },
                                                        "method": "get",
                                                        "path": "/datasets/default/GetFileContentByPath",
                                                        "queries": {
                                                            "inferContentType": true,
                                                            "path": "@items('For_each_2')?['Path']",
                                                            "queryParametersSingleEncoded": true
                                                        }
                                                    },
                                                    "runAfter": {},
                                                    "type": "ApiConnection"
                                                }
                                            }
                                        },
                                        "expression": {
                                            "and": [
                                                {
                                                    "equals": [
                                                        "@items('For_each_2')?['IsFolder']",
                                                        "@true"
                                                    ]
                                                }
                                            ]
                                        },
                                        "runAfter": {},
                                        "type": "If"
                                    }
                                },
                                "foreach": "@body('List_blobs_2')?['value']",
                                "runAfter": {
                                    "List_blobs_2": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Foreach"
                            },
                            "List_blobs_2": {
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                                        }
                                    },
                                    "method": "get",
                                    "path": "/datasets/default/foldersV2/@{encodeURIComponent(encodeURIComponent(items('For_each')?['Path']))}",
                                    "queries": {
                                        "nextPageMarker": "",
                                        "useFlatListing": false
                                    }
                                },
                                "runAfter": {
                                    "Create_new_folder": [
                                        "Succeeded",
                                        "Failed",
                                        "Skipped",
                                        "TimedOut"
                                    ]
                                },
                                "type": "ApiConnection"
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@items('For_each')?['IsFolder']",
                                        "@true"
                                    ]
                                },
                                {
                                    "equals": [
                                        "@items('For_each')?['DisplayName']",
                                        "Mar/"
                                    ]
                                }
                            ]
                        },
                        "runAfter": {},
                        "type": "If"
                    }
                },
                "foreach": "@body('List_blobs')?['value']",
                "runAfter": {
                    "List_blobs": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "List_blobs": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/datasets/default/foldersV2/@{encodeURIComponent(encodeURIComponent('JTJmY29udGFpbmVyMSUyZjIwMTklMmY='))}",
                    "queries": {
                        "nextPageMarker": "",
                        "useFlatListing": false
                    }
                },
                "metadata": {
                    "JTJmY29udGFpbmVyMSUyZjIwMTklMmY=": "/container1/2019/"
                },
                "runAfter": {},
                "type": "ApiConnection"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Recurrence": {
                "recurrence": {
                    "frequency": "Day",
                    "interval": 3
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azureblob": {
                    "connectionId": "/subscriptions/60460c50-2730-4210-84d0-d9d76a411c75/resourceGroups/Contoso_rg/providers/Microsoft.Web/connections/azureblob",
                    "connectionName": "azureblob",
                    "id": "/subscriptions/60460c50-2730-4210-84d0-d9d76a411c75/providers/Microsoft.Web/locations/eastus/managedApis/azureblob"
                },
                "sharepointonline": {
                    "connectionId": "/subscriptions/60460c50-2730-4210-84d0-d9d76a411c75/resourceGroups/Contoso_rg/providers/Microsoft.Web/connections/sharepointonline",
                    "connectionName": "sharepointonline",
                    "id": "/subscriptions/60460c50-2730-4210-84d0-d9d76a411c75/providers/Microsoft.Web/locations/eastus/managedApis/sharepointonline"
                }
            }
        }
    }
}