mail-attatchment-to-blob.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Condition": {
                "actions": {
                    "Compose": {
                        "inputs": "@body('Get_blob_content')",
                        "runAfter": {
                            "Get_blob_content": [
                                "Succeeded"
                            ]
                        },
                        "type": "Compose"
                    },
                    "Create_blob_2": {
                        "inputs": {
                            "body": "@triggerBody()?['body']",
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/datasets/default/files",
                            "queries": {
                                "folderPath": "/container1",
                                "name": "@{triggerBody()?['subject']}.html",
                                "queryParametersSingleEncoded": true
                            }
                        },
                        "runAfter": {},
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        },
                        "type": "ApiConnection"
                    },
                    "Get_blob_content": {
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent('JTJmY29udGFpbmVyMSUyZkRlbW8xLmh0bWw='))}/content",
                            "queries": {
                                "inferContentType": true
                            }
                        },
                        "metadata": {
                            "JTJmY29udGFpbmVyMSUyZkRlbW8xLmh0bWw=": "/container1/Demo1.html"
                        },
                        "runAfter": {
                            "Create_blob_2": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    }
                },
                "expression": {
                    "and": [
                        {
                            "contains": [
                                "@triggerBody()?['body']",
                                "table"
                            ]
                        }
                    ]
                },
                "runAfter": {},
                "type": "If"
            },
            "For_each": {
                "actions": {
                    "Create_blob": {
                        "inputs": {
                            "body": "@base64ToBinary(items('For_each')?['contentBytes'])",
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/datasets/default/files",
                            "queries": {
                                "folderPath": "/container1",
                                "name": "@items('For_each')?['name']",
                                "queryParametersSingleEncoded": true
                            }
                        },
                        "runAfter": {},
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        },
                        "type": "ApiConnection"
                    }
                },
                "foreach": "@triggerBody()?['attachments']",
                "runAfter": {},
                "type": "Foreach"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_new_email_arrives_(V3)": {
                "inputs": {
                    "fetch": {
                        "method": "get",
                        "pathTemplate": {
                            "template": "/v3/Mail/OnNewEmail"
                        },
                        "queries": {
                            "fetchOnlyWithAttachment": false,
                            "folderPath": "Inbox",
                            "importance": "Any",
                            "includeAttachments": true
                        }
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                        }
                    },
                    "subscribe": {
                        "body": {
                            "NotificationUrl": "@{listCallbackUrl()}"
                        },
                        "method": "post",
                        "pathTemplate": {
                            "template": "/GraphMailSubscriptionPoke/$subscriptions"
                        },
                        "queries": {
                            "fetchOnlyWithAttachment": false,
                            "folderPath": "Inbox",
                            "importance": "Any"
                        }
                    }
                },
                "splitOn": "@triggerBody()?['value']",
                "type": "ApiConnectionNotification"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azureblob": {
                    "connectionId": "/subscriptions/df3b9d65-044f-468b-9eee-05c07f83c4c6/resourceGroups/demo_rg/providers/Microsoft.Web/connections/azureblob",
                    "connectionName": "azureblob",
                    "id": "/subscriptions/df3b9d65-044f-468b-9eee-05c07f83c4c6/providers/Microsoft.Web/locations/eastus/managedApis/azureblob"
                },
                "office365": {
                    "connectionId": "/subscriptions/df3b9d65-044f-468b-9eee-05c07f83c4c6/resourceGroups/demo_rg/providers/Microsoft.Web/connections/office365",
                    "connectionName": "office365",
                    "id": "/subscriptions/df3b9d65-044f-468b-9eee-05c07f83c4c6/providers/Microsoft.Web/locations/eastus/managedApis/office365"
                }
            }
        }
    }
}